$background-color: #343434;
$text-color: #fff;

$black: #000;
$white: #fff;
$red: #ff0000;
$shadowDark: #333;
$softBlue: #99C8F2;
$lightBlue: #41A0F2;
$blue: #1D79F2;

// link
$linkBlue: #14b5d0;

// timeline
$timeline: #e4e4e4;
$timelineTitle: #3b3b3b;
$timelineDate: #585858;
$timelineDescription: #2e2e2e;

// project_card
// Circle colors
$circle-red: #ff0000;
$circle-green: #00da00;
$circle-yellow: #ffd015;

// Project dark colors
$terminalTextDark: #a3a3a3;
$terminalBackgroundDark: #212528;
$terminalBarBackgroundDark: #1e1e1e;
$terminalBarTextDark: #cacaca;
$terminalLabelDark: #808082;

// Project light colors
$terminalTextLight: #8d8d8d;
$terminalBackgroundLight: #ffffff;
$terminalBarBackgroundLight: #b6b6b6;
$terminalBarTextLight: #4e4e4e;
$terminalLabelLight: #808082;