$large-screen-min-width: 991px;
$medium-screen-min-width: 767px;
$small-screen-max-width: 567px;

$large-screen-container-width: 960px;
$medium-screen-container-width: 720px;
$small-screen-container-width: 540px;