html {
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    height: 100%;
  
    @media screen and (max-width: $tablet) {
      font-size: 16px;
    }
    @media screen and (max-width: $mobile) {
      font-size: 14px;
    }
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    color: $main-text-color;
    background: $main-background-color;
    width: 100%;
    height: 100%;
  }

  .main {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
  }
  
  .container {
    margin: auto;
    max-width: $desktop;
  }

  .content {
    min-height: 100%;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  
  .link {
    text-decoration: none;
    font-weight: 600;
  }