.categories {
    &__grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        justify-content: center;

        @media screen and (max-width: $large-screen-min-width) {
            grid-template-columns: repeat(4, 1fr);
        }

        @media screen and (max-width: $medium-screen-min-width) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media screen and (max-width: $small-screen-max-width) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

.card {
    width: 150px;
    margin: auto;
    
    &__top {
        height: 200px; 
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 8px 4px $shadow-color;

        &--background {
            background-color: orange;
        }
    }

    &__bottom {

    }

    &__image {
        width: 75%;
        content: url(../../assets/img/socials/social_bg.png);
    }

    &__title {
        text-align: center;
        font-size: 1rem;
        font-weight: 400;
        text-shadow: 0px 0px 8px black;
    }
}