$social_icon_size: 60px;
$social_icon_size_original: 90px;
$icon_factor: calc(#{$social_icon_size / #{$social_icon_size_original}});

.footer {
    grid-row-start: 3;
    grid-row-end: 4;

    &__creator {
        text-align: center;
        font-size: 0.7rem;
        font-family: 'Roboto-Mono', monospace;
    }

    &__secondary {
        padding: .25rem;
        background: $tertiary-background-color;
    }

    &__main {
        padding: 1rem;
        background: $secondary-background-color;
    }
}

.social {
    width: $social_icon_size;
    height: $social_icon_size;
    position: relative;
    margin-right: .25rem;
    
    &__background {
        width: $social_icon_size;
        height: $social_icon_size;
        
        content: url(../../assets/img/socials/social_bg.png);

        &:hover {
            content: url(../../assets/img/socials/social_bg_selected.png);
        }
    }

    &__container {
        top: 0;
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: none;
    }

    &__icon {

        @mixin socialIconVariant($imgSrc) {
            width: 40%;
            content: url($imgSrc);
        }
        
        &--linkedin {
            @include socialIconVariant("../../assets/img/socials/linkedin.png");
        }

        &--youtube {
            @include socialIconVariant("../../assets/img/socials/youtube.png");
        }

        &--github {
            @include socialIconVariant("../../assets/img/socials/github.png");
        }

        &--twitter {
            @include socialIconVariant("../../assets/img/socials/twitter.png");
        }

        &--facebook {
            @include socialIconVariant("../../assets/img/socials/facebook.png");
        }
    }
}

.socials {
    display: flex;
    justify-content: center;
    list-style: none;
    padding-inline-start: 0;
}