.banner {
    box-shadow: 0 8px 4px $shadow-color;
    font-family: "Inter";
    text-shadow: 0px 0px 4px $shadow-color;

    &__content {
        height: 100%;
        max-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        &--main {
            width: 80%;
            padding: 0 2rem;
        }

        &--secondary {
            width: 100%;
            padding: 0 1rem;
        }
    }

    &__author {
        font-size: 0.75rem;
        font-weight: 500;
    }

    &__author--name {
        font-weight: 200;
    }

    &__title {
        font-weight: normal;

        &--main {
            font-size: 2rem;
        }

        &--secondary {
            font-size: 1.5rem;
        }
    }

    &__brief {
        font-size: 1rem;
        font-weight: 300;
        margin: 0 0 .5rem 0;
        line-height: 1.2rem;
    }

    &__link {
        text-decoration: none;
        color: $main-text-color;
    }

    &__main {
        max-width: $desktop;
        grid-area: 1 / 1 / 2 / 3;
        max-height: 500px;
        position: relative;

        @media screen and (max-width: $medium-screen-min-width) {
            grid-area: auto;
            grid-area: 1 / 1 / 2 / 2;
            max-height: 300px;
        }
    }

    &__secondary {
        grid-row-start: 2;
        max-height: 250px;
        position: relative;

        @media screen and (max-width: $medium-screen-min-width) {
            grid-row-start: auto;
            grid-area: auto;
            max-height: 200px;
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__overlay {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgb(0,0,0);
        background: linear-gradient(360deg, rgba(0,0,0,0.35) 0%, rgba(0,0,0,0.15) 50%, rgba(255,255,255,0) 100%);

        &:hover {
            background: none;
        }
    }

    &--radius {
        border-radius: 10px;
    }
}

.header {
    margin: 4rem 2rem 2rem 2rem;
    height: 100%;
    // width: clac(100% - calc(2 * 2rem));
    max-width: $desktop;
    display: grid;
    gap: 1rem;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: repeat(2, 1fr);

    @media screen and (max-width: $medium-screen-min-width) {
        grid-template-rows: 1.5fr 1fr;
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}