.post {
    display: grid;
    grid-template-columns: 360px 1fr;
    gap: 3rem;
    margin: 1.5rem 0;
    font-family: "Inter";
    text-shadow: 0px 0px 8px black;

    @media screen and (max-width: $medium-screen-min-width) {
        grid-template-columns: 1fr;
        gap: 2rem;
        margin: 1rem 0 1.5rem 0;
    }

    &__author {
        font-size: 0.75rem;
        font-weight: 200;

        &--image {
            margin-right: 0.5rem;
            height: 1rem;
            content: url(../../assets/img/common/author.png);
        }
    }

    &__date {
        font-size: 0.75rem;
        font-weight: 200;

        &--image {
            margin-right: 0.5rem;
            height: 1rem;
            content: url(../../assets/img/common/date.png);
        }
    }

    &__brief {
        font-weight: 200;
    }

    &__container {
        display: flex;

        &--vertical {
            justify-content: center;
            flex-direction: column;
        }

        &--horizontal {
            align-items: center;
            flex-direction: row;
            justify-content: start;
        }

        &--margin-right {
            padding-right: 1rem;
        }
    }

    &__image {
        max-width: 100%;
        max-height: 100%;
        border-radius: 8px;
        box-shadow: 0 8px 4px $shadow-color;
        object-fit: cover;
    }

    &__link {
        text-decoration: none;
        color: $main-text-color;

        &:hover {
            text-decoration: underline;
        }
    }

    &__title {
        margin-top: 0;
        margin-bottom: 16px;
        font-weight: normal;
    }
}

.posts {
    display: flex;
    flex-direction: column;
}